 <%= render 'components/nav' %>
<h2> <%= @list.name.upcase %></h2>
<div class="cards">
  <% @list.movies.each do |movie| %>
    <div class="card-pick">
      <div class="card-pick-info">
        <h2><%= movie.title %></h2>
        <p><%= movie.overview %></p>
      </div>
    </div>
  <% end %>
  <%= link_to new_list_bookmark_path(@list) do  %>
    <div class="card-pick">
      <i class="fa-solid fa-plus fa-5x"></i>
    </div>
  <% end %>
</div>
