  <%= render 'components/nav' %>
<%= render 'components/hero_banner' %>
<h2>Movies</h2>
<%= render 'components/carousel' %>
<h2>Lists</h2>
<%= render 'components/carousel_list' %>
<%= render 'components/footer' %>
